{% extends "movie/base.html" %}

{% load static %}

{% block title %}About{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>About Movie Rat</h1>
   Movie rating rat is a film rating website designed to encompass a 
   user’s comments, views and rankings of movies published on the web-
   application. The design and implementation is based on the django web-
   application framework and the application further enables users to search
   for movies, view trailers of a high ranking movies as well as view 
   information regarding topmost and bottommost rated movies..<br/>

    You've visited the site on <strong>{{ visit_count }} occasion(s).</strong><br/>

    Here's a picture of rat!<br/>
    <img src="{% static "photo1.jpg" %}" alt="Picture of Rat" />
</div>
{% endblock %}
