{% extends "movie/base.html" %}

{% block title %}Welcome Movie Rat!{% endblock %}

{% block body_block %}

    <!-------Scrolling movie Images---->
               
                    <div class='container-fluid pull-left'>
                                        <!-- Carousel
                                        ================================================== -->
                                        <div id="myCarousel" class="carousel slide">
                                            <div class="carousel-inner" >

                                                <div class="item active">
                                                    <iframe width="860" height="415" src="//www.youtube.com/embed/mmpSCvlZ7hY" frameborder="0" allowfullscreen></iframe>
                                               </div>

                                                <div class="item">
                                                   <iframe width="860" height="415" src="//www.youtube.com/embed/z02Ie8wKKRg" frameborder="0" allowfullscreen></iframe>
                                                    </div>

                                                <div class="item">
                                               <iframe width="860" height="415" src="//www.youtube.com/embed/5klp6rkHIks" frameborder="0" allowfullscreen></iframe>
                                                    </div>

                                                <div class="item">
                                                <iframe width="860" height="415" src="//www.youtube.com/embed/lLG_RokHHRI" frameborder="0" allowfullscreen></iframe>
                                                </div>

                                               <div class="item">
                                                 <iframe width="860" height="415" src="//www.youtube.com/embed/YWDM_p68HAQ" frameborder="0" allowfullscreen></iframe>
                                                 </div>
                                       <!-- Carousel Controls -->

                                             </div> <!-- /.carousel -->

                                           <a class="left carousel-control" href="index.html#myCarousel" data-slide="prev">&lsaquo;</a>
                                            <a class="right carousel-control" href="index.html#myCarousel" data-slide="next">&rsaquo;</a>

                                         </div> <!-- /.container-fluid -->
                    </div> 
                    <!-- end container-fluid -->

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>


<!--- Category list on the home page -->
                <div class="cats" >
                    <h3>Rat Categories!</h3>
                             {% if genres%}
                            {% for genre in genres %}
                             <a class="btn btn-primary btn-lg" role="button" href="/movie/genre/{{ genre.name }}">{{ genre.name }}</a>
                            {% endfor %}
                        {% else %}
                        <strong>No Categories at present.</strong>
                        {% endif %}
                </div>


</br>



<div class="row-fluid">
    <div class="span4 pull-left">

        <h2>Top Five Reviews</h2>
        {% if movie %}
        <ul>
            {% for comment in comments %}
            <li><a href="/movie/movie/{{comment.url}}">{{ comment.title }}</a> | <b>Movie Name:</b> {{ comment.movie.name}} | {{comment.views}} like(s)</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No movies at present.</strong>
        {% endif %}

    </div>

<!-- <div class="span6">

        <h1>Top Categories!</h1>

        {% if genres %}
            <ul>
                {% for genre in genres %}
                <li>{{ genre.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

    </div> -->



    <div class="span4 pull-left">
        <h2>Top Five Movies</h2>
        {% if movie %}
        <ul>
            {% for movie in movie %}
            <li><a href="/movie/movie/{{ movie.url }}">{{ movie.name }} </a> | Genre: <b>{{ movie.genre }}</b> <b>{{ movie.likes }}</b></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No movies at present.</strong>
        {% endif %}

    </div>
    <div class="span4 pull-left">
        <h2>Worst Five Movies</h2>
        {% if movi %}
        <ul>
            {% for movie in movi %}
            <li><a href="/movie/movie/{{ movie.url }}">{{ movie.name }} </a> | Genre: <b>{{ movie.genre }}</b> <b>{{ movie.likes }}</b></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No movies at present.</strong>
        {% endif %}

    </div>

</div><!--/row-->


{% endblock %}

