.hero-unit{
    color:blue;
}
.brand{
    color: blue;
}
.container-fluid{
    background-color: #D4D4D4;
   margin-top: 50px;
   margin-bottom: 10px;
    align-self: center;
}

.logo {
    height: 70px;
    margin-left: 5px;
    margin-right: 6px;
}

.subtitle {
    margin-top: 10px;
    font-size: 60%
}
.cats{
    border: 3px;
}
.row-fluid{
    float: left;
}
.span4{
    border: 2px;
     margin-top: 10px;
    background: gainsboro;
}
.container{

     margin-top: 40px;
   margin-bottom: 10px;
}
.span8{
    border: 3px solid;
    background: red;
    width: 50%;
}
.span3{
    width: 50%;
    background: green;
    margin-left: 5px;
}
body {
    background: white url("images/background.gif") no-repeat right bottom;
}